<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>메인페이지</title>
</head>
<body>
<div th:if="${session.loginEmail}">
    <div th:if="${session.loginEmail.toString().equals('admin')}">
        <a href="/member/admin" class="btn btn-light">관리자 페이지</a>
    </div>
    <a href="/member/myPage" class="btn btn-primary">마이페이지</a><br>
    <a href="/member/logout" class="btn btn-danger">로그아웃</a><br>
    <a href="/board/save" class="btn btn-dark">글 작성</a><br>
    <a href="/board/" class="btn btn-success">글 목록</a>
</div>
<div th:unless="${session.loginEmail}">
    <a href="/member/login" class="btn btn-primary">로그인</a>
</div>
</body>
</html>