<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <style>
        #login-form {
            margin-top: 10px;
            width: 300px;
            height: 300px;
        }
    </style>
</head>
<body>
<th:block th:replace="commonPages/header :: header"></th:block>
<div class="container" id="login-form">
    <form action="/member/login" method="post">
            <input type="hidden" name="redirectURL" th:value="${redirectURL}">
        아이디 <input type="text" name="memberEmail" placeholder="이메일을 입력하세요" class="form-control"><br>
        비밀번호 <input type="passowrd" name="memberPassword" placeholder="비밀번호를 입력하세요" class="form-control">
        <input type="submit" value="로그인" class="btn btn-success">
    </form>
</div>
</body>
</html>