<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>메인페이지</title>
</head>
<body>
<div th:if="${session.loginEmail}">
    <div th:if="${session.loginEmail.toString().equals('admin')}">
        <a href="/member/admin">관리자 페이지</a>
    </div>
    <a href="/member/myPage">마이페이지</a>
    <a href="/member/logout">로그아웃</a>
    <a href="/board/save">글 작성</a>
</div>
<div th:unless="${session.loginEmail}">
    <a href="/member/login">로그인</a>
</div>
</body>
</html>