<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>글 상세조회</title>
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
  <script th:src="@{/js/axios.min.js}"></script>
</head>
<body>
<div class="container" id="board-detail">
  <table class="table table-hover">
    <tr>
      <th>id</th>
      <td th:text="${board.id}"></td>
    </tr>
    <tr>
      <th>title</th>
      <td th:text="${board.boardTitle}"></td>
    </tr>
    <tr>
      <th>writer</th>
      <td th:text="${board.boardWriter}"></td>
    </tr>
    <tr>
      <th>date</th>
      <td th:text="*{#temporals.format(board.boardCreatedTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
    </tr>
    <tr>
      <th>hits</th>
      <td th:text="${board.boardHits}"></td>
    </tr>
    <tr>
      <th>contents</th>
      <td th:text="${board.boardContents}"></td>
    </tr>
    <tr th:if="${board.fileAttached == 1}">
      <th>image</th>
      <td th:each="fileName: ${board.storedFileName}">
        <img th:src="@{|/upload/${fileName}}" alt="" width="200" height="200">
      </td>
    </tr>
  </table>

  <div class="container">
    <button class="btn btn-primary" onclick="listReq()">목록</button>
    <button class="btn btn-primary" onclick="req('update')">수정</button>
    <button class="btn btn-danger" onclick="req('delete')">삭제</button>
  </div>
  <div id="pass-check">

  </div>
</div>
</body>
<script th:inline="javascript">
  const listReq = () => {
    location.href = "/board/";
  }
  const req = (value) => {
    const passCheckArea = document.getElementById("pass-check");
    passCheckArea.innerHTML = "<input type=\"text\" id=\"password\" placeholder=\"password\">\n" +
            "        <button class=\"btn btn-outline-dark\" onclick=\"passCheck('" + value + "')\">확인</button>";
  }
  const passCheck = (value) => {
    const password = document.getElementById("password").value;
    const passDB = [[${board.boardPass}]];
    const id = [[${board.id}]];
    if (password == passDB) {
      if (value == "update") {
        location.href = "/board/update/" +id;
      } else if (value == "delete") {
        // location.href = "/board/delete/" +id;
        axios({
          method: "delete",
          url: "/board/" + id,
        }).then(res => {
            location.href = "/board/";
        }).catch(err => {
            alert("삭제 실패");
        })
      }
    } else {
      alert("비밀번호가 일치하지 않습니다");
    }
  }

</script>
</html>