<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>글 상세조회</title>
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
  <script th:src="@{/js/axios.min.js}"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
</head>
<body>
<div class="container" id="board-detail">
  <table class="table table-hover">
    <tr>
      <th>id</th>
      <td th:text="${board.id}"></td>
    </tr>
    <tr>
      <th>title</th>
      <td th:text="${board.boardTitle}"></td>
    </tr>
    <tr>
      <th>writer</th>
      <td th:text="${board.boardWriter}"></td>
    </tr>
    <tr>
      <th>date</th>
      <td th:text="*{#temporals.format(board.boardCreatedTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
    </tr>
    <tr>
      <th>hits</th>
      <td th:text="${board.boardHits}"></td>
    </tr>
    <tr>
      <th>contents</th>
      <td th:text="${board.boardContents}"></td>
    </tr>
    <tr th:if="${board.fileAttached == 1}">
      <th>image</th>
      <td th:each="fileName: ${board.storedFileName}">
        <img th:src="@{|/upload/${fileName}}" alt="" width="200" height="200">
      </td>
    </tr>
  </table>

  <div class="container">
    <button class="btn btn-primary" onclick="listReq()">목록</button>
    <button class="btn btn-primary" onclick="req('update')">수정</button>
    <button class="btn btn-danger" onclick="req('delete')">삭제</button>
  </div>
  <div id="pass-check">
  </div>
</div>

<div class="container mt-5" id="comment-write">
  <div class="input-group-sm mb-3">
    <div class="form-floating">
      <input type="text" id="commentWriter" class="form-control" th:value="${session.loginEmail}"readonly>
      <label for="commentWriter">작성자</label>
    </div>
    <div class="form-floating">
      <input type="text" id="commentContents" class="form-control" placeholder="내용">
      <label for="commentContents">내용</label>
    </div>
    <button id="comment-write-btn" class="btn btn-secondary" onclick="commentWrite()">댓글작성</button>
  </div>
</div>
<div class="container mt-5" id="comment-list">
  <div th:if="${commentList == 'empty'}">
    <p>작성된 댓글이 없습니다.</p>
  </div>
  <div th:unless="${commentList == 'empty'}">
    <table class="table">
      <tr>
        <th>댓글번호</th>
        <th>작성자</th>
        <th>내용</th>
        <th>작성시간</th>
      </tr>
      <tr th:each="comment: ${commentList}">
        <td th:text="${comment.id}"></td>
        <td th:text="${comment.commentWriter}"></td>
        <td th:text="${comment.commentContents}"></td>
        <td th:text="*{#temporals.format(comment.commentCreatedTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
      </tr>
    </table>
  </div>
</div>
</body>
<script th:inline="javascript">
  const commentWrite = () => {
    const writer = document.getElementById("commentWriter").value;
    const contents = document.getElementById("commentContents").value;
    const boardId = [[${board.id}]];
    axios({
      method: "post",
      url: "/comment/save",
      data: {
        commentWriter: writer,
        commentContents: contents,
        boardId: boardId
      }
    }).then(res => {
      console.log(res);
      console.log(res.data);
      const commentList = res.data;
      console.log("commentList", commentList);
      let output = "<table class='table'>";
      output += "<tr><th>댓글번호</th>";
      output += "<th>작성자</th>";
      output += "<th>내용</th>";
      output += "<th>작성시간</th></tr>";
      for (let i in commentList) {
        output += "<tr>";
        output += "<td>" + commentList[i].id + "</td>";
        output += "<td>" + commentList[i].commentWriter + "</td>";
        output += "<td>" + commentList[i].commentContents + "</td>";
        output += "<td>" + moment(commentList[i].commentCreatedTime).format("YYYY-MM-DD HH:mm:ss") + "</td>";
        output += "</tr>";
      }
      output += "</table>";
      document.getElementById('comment-list').innerHTML = output;
      document.getElementById('commentWriter').value = '';
      document.getElementById('commentContents').value = '';
    }).catch(err => {
      console.log(err);
    })
  }

  const listReq = () => {
    location.href = "/board";
  }
  const req = (value) => {
    const passCheckArea = document.getElementById("pass-check");
    passCheckArea.innerHTML = "<input type=\"text\" id=\"password\" placeholder=\"password\">\n" +
            "        <button class=\"btn btn-outline-dark\" onclick=\"passCheck('" + value + "')\">확인</button>";
  }
  const passCheck = (value) => {
    const password = document.getElementById("password").value;
    const passDB = [[${board.boardPass}]];
    const id = [[${board.id}]];
    if (password == passDB) {
      if (value == "update") {
        location.href = "/board/update/" +id;
      } else if (value == "delete") {
        // location.href = "/board/delete/" +id;
        axios({
          method: "delete",
          url: "/board/" + id,
        }).then(res => {
            location.href = "/board/";
        }).catch(err => {
            alert("삭제 실패");
        })
      }
    } else {
      alert("비밀번호가 일치하지 않습니다");
    }
  }
</script>
</html>